<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta property="og:title" content="y|sndr - $title$">
  <meta property="og:description" content="A blog about nix, rust, haskell and more">
  <meta property="og:image" content="/assets/images/feature-x-small.jpg">
  <meta property="og:url" content="https://blog.ysndr.de/">
  <title>y|sndr - $title$</title>
  <link rel="stylesheet" href="/assets/css/main.css" />
  <link rel="alternate" type="application/rss+xml"  title="RSS Feed" href="/rss.xml" />
  <link rel="alternate" type="application/atom+xml"  title="Atom Feed" href="/atom.xml" />
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon/favicon-16x16.png">
  <link rel="manifest" href="/assets/images/favicon/site.webmanifest">
</head>

<body>
  $partial(concat("templates/includes/",item-type, "-header.html"))$

  $partial("templates/includes/nav.html")$

  <main>
    <div class="uk-container">
      $body$
    </div>
  </main>


  <footer class="uk-section uk-section-secondary ">
    <div class="uk-container">
      <div class="uk-grid-medium uk-child-width-1-3@m uk-child-width-1-1" uk-grid>
        <div>
          <div class="">
            <h3 class="">Contact</h3>
            <p><span uk-icon="mail" /> <a href="mailto:contact@ysndr.de">contact@ysndr.de</a></p>
            <p><span uk-icon="github" /> <a href="https://github.com/ysndr">ysndr</a></p>
            <p><span uk-icon="linkedin" /> <a href="https://linkedin.com/in/yannik-sander">yannik-sander</a></p>
          </div>
        </div>
        <div>
          <div class="">
            <h3 class="">Legal</h3>
            <p><span uk-icon="check" /> <span href="mailto:contact@ysndr.de">No analytics are used here your data is
                safe :)</span></p>
            <p><span uk-icon="check" /> <span href="https://github.com/ysndr">The content of this blog is licensed under
                CC0 terms if not otherwise noted</span></p>
          </div>
        </div>
        <div>
          <div class="">
            <h3 class="">About this blog</h3>
            <p>Built with <span uk-icon="code" /> and <span uk-icon="heart" /> using <a
                href="https://jaspervdj.be/hakyll/">Hakyll</a></p>
            <p><a href="https://builtwithnix.org" rel="nofollow"><img src=https://builtwithnix.org/badge.svg"
                  style="max-width:100%;"></a></p>
            <p class="uk-text-muted"><span uk-icon="git-branch" /> last updated: <a href="https://github.com/ysndr/blog">$git-head-commit-full$</a>
            </p>
          </div>
        </div>
      </div>
    </div>

    </div>
    </div>
  </footer>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.2.0/js/uikit.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.2.0/js/uikit-icons.min.js"></script>
</body>

</html>
