<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:creator" content="@_ysndr" />
  <meta property="og:title" content="y|sndr - $title$">
  <meta property="og:description" content="$if(subtitle)$$subtitle$$else$A blog about nix, rust, haskell and more$endif$">
  <meta property="og:image" content="$if(image)$$with-root(image)$$else$$with-root("/assets/images/feature-x-small.jpg")$ $endif$">
  <meta property="og:url" content="$with-root(url)$">
  <title>y|sndr - $title$</title>
  <link rel="stylesheet" href="/assets/css/main.css" />
  <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">  <link rel="alternate" type="application/rss+xml"  title="RSS Feed" href="/rss.xml" />
  <link rel="alternate" type="application/atom+xml"  title="Atom Feed" href="/atom.xml" />
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon/favicon-16x16.png">
  <link rel="manifest" href="/assets/images/favicon/site.webmanifest">
</head>

<body class="flex flex-col overflow-x-hidden text-body text-black leading-normal">
  $partial(concat("templates/includes/",item-type, "-header.html"))$

  $partial("templates/includes/nav.html")$

  <main class="my-8">
    <div class="container">
      $body$
    </div>
  </main>


  <footer class="font-standout text-sm py-8 px-4 text-mutedDark bg-footer dark">
      <div class="container grid sm:grid-cols-3 gap-8">
        <div>

            <h3 class="text-emphasizedDark">Contact</h3>
            <ul class="ml-1 list-none">
            <li><a href="mailto:contact@ysndr.de" class="text-emphasizedDark no-underline"><i class="las la-envelope-open-text"></i> contact@ysndr.de</a></li>
            <li><a href="https://linkedin.com/in/yannik-sander" class="text-emphasizedDark no-underline"><i class="lab la-linkedin"></i></svg> yannik-sander</a></li>
            <li>
            <a href="https://github.com/ysndr" class="text-emphasizedDark no-underline"><i class="las la-code-branch"></i> ysndr</a></li>
          </ul>


        </div>
        <div class="mt-4 sm:mt-0">

          <h3 class="text-emphasizedDark">Legal</h3>
          <ul class="ml-1 list-none">
            <li class="inline-flex justify-items-start items-start mb-0">
              <span class="las la-check-circle block mr-2"></span> No analytics are used here your data is safe :)
            </li>
            <li class="inline-flex items-start">
              <span class="las la-check-circle block mr-2"></span> The content of this blog is licensed under CC0 terms if not otherwise noted</span>
            </li>
          </ul>
        </div>
        <div class="mt-4 sm:mt-0">

          <h3 class="text-emphasizedDark">About this blog</h3>
          <ul class="ml-1 list-none">
            <li>
              Built with <i class="las la-code"></i> and <i class="lar la-heart"></i> using <a class="text-emphasizedDark no-underline" href="https://jaspervdj.be/hakyll/">Hakyll</a>
            </li>
            <li class="text-muted"><i class="las la-code-branch"></i> last updated: <a class="text-emphasizedDark no-underline" href="https://github.com/ysndr/blog">$git-head-commit-full$</a>
            </li>
            <li>
              <a class="no-underline" href="https://builtwithnix.org" rel="nofollow">
                <img src="https://builtwithnix.org/badge.svg" style="max-width:100%;">
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    </div>

  </footer>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.2.0/js/uikit.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.2.0/js/uikit-icons.min.js"></script>
  <!-- <script src="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js"></script>
  <script>
    window.cookieconsent.initialise({
    container: document.getElementById("content"),
    palette:{
     popup: {background: "#fff"},
     button: {background: "#aa0000"},
    },
    revokable:true,
    onStatusChange: function(status) {
     console.log(this.hasConsented() ?
      'enable cookies' : 'disable cookies');
    },
    law: {
     regionalLaw: false,
    },
    location: false,
   });
  </script> -->
</body>

</html>
