$global-font-family: "Fira Sans", serif;
$base-heading-font-family: "Fira Code", monospace, monospace;
$base-code-font-family: "Fira Code", Consolas, monaco, monospace, monospace;
$logo-font-family: $base-heading-font-family;

$global-font-size: 15px;
$global-2xlarge-font-size: 1.75rem;
$global-xlarge-font-size: 1.5rem;
$global-large-font-size: 1.25rem;
$global-medium-font-size: 1.125rem;
$container-max-width: 1100px;
$article-max-width: 900px;

$height-small-height: 150px;
$height-medium-height: 300px;
$height-large-height: 450px;
$height-xlarge-height: 600px;
