:root {
    --breakpoint-sm: 640px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 1024px;
    --breakpoint-xl: 1280px;
    --breakpoint-2xl: 1536px;
}

@custom-media --media-sm (min-width: 640px);
@custom-media --media-md (min-width: 768px);
@custom-media --media-lg (min-width: 1024px);
@custom-media --media-xl (min-width: 1280px);
@custom-media --media-2xl (min-width: 1536px);
