@charset "utf-8";


// 1. Your custom variables and variable overwrites.
$global-link-color: #DA7D02;

$global-font-family: "Fira Code", monospace, monospace;

// 2. Import default variables and available mixins.
@import "uikit/scss/variables-theme.scss";
@import "uikit/scss/mixins-theme.scss";

// 3. Your custom mixin overwrites.
@mixin hook-card() { color: #000; }

@mixin hook-text-lead() {
    font-size: $global-small-font-size;

    @media (min-width: $breakpoint-medium) {
        font-size: $global-medium-font-size;
    }
    @media (min-width: $breakpoint-large) {
        font-size: $global-large-font-size;
    }
}

@mixin hook-height-misc() {

    // .uk-height-small\@s,
    // .uk-height-small\@m,
    // .uk-height-small\@l,
    // .uk-height-small\@xl,
    // .uk-height-medium\@s,
    // .uk-height-medium\@m,
    // .uk-height-medium\@l,
    // .uk-height-medium\@xl,
    // .uk-height-large\@s,
    // .uk-height-large\@m,
    // .uk-height-large\@l,
    // .uk-height-large\@xl {
    //     height:auto;
    // }
    
    @media (min-width: $breakpoint-small) {
        .uk-height-small\@s { height: $height-small-height; }
        .uk-height-medium\@s { height: $height-medium-height; }
        .uk-height-large\@s { height: $height-large-height; }
    }
    
    @media (min-width: $breakpoint-medium) {
        .uk-height-small\@m { height: $height-small-height; }
        .uk-height-medium\@m { height: $height-medium-height; }
        .uk-height-large\@m { height: $height-large-height; }
    }
    
    @media (min-width: $breakpoint-large) {
        .uk-height-small\@l { height: $height-small-height; }
        .uk-height-medium\@l { height: $height-medium-height; }
        .uk-height-large\@l { height: $height-large-height; }
    }
    
    @media (min-width: $breakpoint-xlarge) {
        .uk-height-small\@xl { height: $height-small-height; }
        .uk-height-medium\@xl { height: $height-medium-height; }
        .uk-height-large\@xl { height: $height-large-height; }
    }
} 

// 4. Import UIkit.
@import "uikit/scss/uikit-theme.scss";


@import './code.scss';

.mjx-chtml.MJXc-display {
    overflow: scroll;
}
