@import url("https://fonts.googleapis.com/css?family=Fira+Sans:400,400i,700,700i|Fira+Code:400,500,700&display=swap");

@import "./_variables.css";

@import "tailwindcss/base";

@import "./_code.css";
@import "./_base.css";


@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer components {
    .uk-open {
        display: block !important;
    }
  .y-fill-horizontal {
      @apply -mx-4;

      border-radius: 0px;

    @media (--media-sm) {
        @apply -mx-4;
        @apply px-4;
        & > .sourceCode {
        margin-left: -$container-padding-horizontal-s;
        margin-right: -$container-padding-horizontal-s;
        }
      }

      @media (--media-md) {
        margin-left: inherit;
        margin-right: inherit;
      }
  }

  .box {
    @apply my-4 py-6 px-4 rounded text-emphasis;

    &.info {
      background: var(--bg-info);
    }
    &.note {
      background: var(--bg-note);
    }
    &.help {
      background: var(--bg-help);
    }
    &.warning {
      background: var(--bg-warning);
    }
    &.danger {
      background: var(--bg-danger);
    }

    & > .header {
      @apply text-lg flex font-medium;

      & :first-child {
        @apply flex;

        &>* {
          @apply my-auto;
        }

        .badge {
          @apply border border-emphasis rounded inline-flex flex-grow-0 justify-items-center text-2xs font-bold ml-1 mr-2 p-1;

        }
      }
  }
}
