<article class="uk-article">
    $if(image)$
    <div class="uk-background-fixed uk-background-center-center  uk-background-cover uk-height-medium uk-height-large@s  uk-height-xxlarge@m y-width-screen uk-flex"
        style="background-image: url($image$);">
        <!-- <div class="uk-overlay uk-overlay-default uk-position-bottom">
            <p class="uk-text-lead uk-container"><i>$description$</i></p>
        </div> -->
        <div class="uk-container uk-flex uk-width-1-1 uk-flex-right uk-flex-bottom">
            <div class="uk-inline uk-padding-small">
                <div class="uk-button uk-background-muted uk-border-circle" style="line-height: 0; padding:4px;"
                    type="button"><span uk-icon="info"></span></div>
                <div uk-drop="pos: top-right">
                    <div class="uk-card uk-card-default uk-card-body uk-card-hover">
                        <h4 class="uk-card-title">Credits</h4>
                        $if(image-credits)$
                        $image-credits$
                        $else$
                        <i>Origin unknown</i>
                        $endif$
                    </div>
                </div>
            </div>
        </div>

    </div>
    $else$
    $endif$

    <p class="uk-text-lead"><i>$description$</i></p>
    <p>$body$</p>

</article>
