
$if(image)$
<div class="h-56 sm:h-xl xl:h-2xl bg-cover w-5/6 mx-auto xl:min-w-full xl:w-auto mb-8 xl:-mx-24 rounded-lg relative shadow-2xl overflow-hidden">
    <img src="$image$" alt="Article image" class="relative w-full h-full object-cover">

    <div class="w-full absolute bottom-0">
        <div class="relative">
            <div class="bg-white rounded-full m-4 w-max float-right p-1" style="line-height: 0;"
            ><i class="las la-copyright"></i></div>
            <div uk-drop="pos: top-right" class="w-max hidden absolute pb-4">
                <div class="bg-white p-6 rounded">
                    <h4 class="uk-card-title">Credits</h4>
                    $if(image-credits)$
                    $image-credits$
                    $else$
                    <i>Origin unknown</i>
                    $endif$
                </div>
            </div>
        </div>
    </div>
</div>

$else$
$endif$


<article>

    <p class="text-lead text-emphasis italic sm:w-5/6 mx-auto"><i>$description$</i></p>
    <p>$body$</p>

</article>
