<header id="header"><div class="bg-muted">

    <div class="w-4/5 flex flex-col container">

      <div class="flex flex-col mt-12 mb-4">
        <img class="w-36 sm:w-64 lg:w-80 mx-auto rounded-full" src="/assets/images/feature-x.jpg" style="object-fit: cover;"/>
      </div>

      <h1 class="my-8 mx-auto"><img src="/assets/images/logo-large.svg" alt="y|sndr" class="h-8"/></h1>

      <p class="text-justify text-emphasis font-standout text-sm w-full sm:w-64 lg:w-80 mx-auto">
          Hej and welcome to my blog!</br>
          I'm an enthusiastic software developer and student of distributed systems at the <a href="https://kth.se/">Royal institute of Technology (KTH)</a> in Stockholm. I enjoy learning and thinking about functional principles, AI and the philosophy of life.
      </p>

      <hr class="mt-4" />
    </div>
</header>
