<header id="header"><div class="uk-container  uk-container-expand uk-background-muted uk-flex uk-flex-column">

    <div class="uk-container uk-container-expand uk-flex uk-flex-column uk-flex-middle uk-width-1-5@m uk-width-2-5@m uk-width-3-5@s uk-width-4-5">

      <div class="uk-container uk-flex uk-flex-center uk-margin-large-top  uk-margin-small-bottom">
        <img class="
                 uk-width-small
                 uk-width-medium@s
                 uk-height-small
                 uk-height-medium@s
                 uk-border-circle	
                 uk-background-cover" src="/assets/images/feature-x.jpg" style="object-fit: cover;"/>
      </div>
          <h1 class="uk-logo"><strong>yannik</strong>|sander</h1>

        <p class="uk-text-justify uk-text-emphasis uk-width-medium y-leader">
          Hej and welcome to my blog!</br>
          I'm an enthusiastic software developer and student of the arcanes of cognitive computer science at <a href="https://www.uni-bielefeld.de/">Bielefeld University</a>. I enjoy learning and thinking about functional principles, AI and the philosophy of life.
        </p>
      </div>

      <hr class="uk-margin-remove-bottom" />
      </div>
  </header>
