<header class="uk-navbar-container uk-position-z-index uk-width-1-1" style="
    position: sticky;
    align-self: flex-start;
    top: 0;
">
  <nav class="uk-container" uk-navbar="">

    <div class="uk-navbar-center ">
      <div class="uk-navbar-nav uk-flex-1">

        <li class="uk-logo"><a href="/">
            <img src="/assets/images/logo-small.svg" alt="y|sndr" class="logo"/>
          </a>
        </li>

      </div>
    </div>

    <div class="uk-navbar-left">
      <ul class="uk-navbar-nav">
        <li>
          <a><span uk-navbar-toggle-icon></span> <span class="uk-margin-small-left">Menu</span></a>
          <div class="uk-navbar-dropdown" uk-drop="boundary: nav; boundary-align: true; pos: bottom-justify; offset: 0">

            <div class="uk-navbar-dropdown-grid uk-child-width-1-3@s uk-child-width-1-1" uk-grid>
              <div>
                <ul class="uk-nav uk-navbar-dropdown-nav">
                  <li class="uk-nav-header">Who?</li>
                  <li><a href="/about.html">About Me</a></li>
                  <li><a href="https://gist.github.com/ysndr/978662957bb9187fd52b2037466e1e34">CV</a></li>
                  <li class="uk-nav-divider uk-margin-bottom"></li>
                  <li class="">
                    <ul class="uk-iconnav uk-iconnav-horizontal">
                      <li><a href="mailto:contact@ysndr.de" uk-icon="mail"></a></li>
                      <li><a href="https://linkedin.com/in/yannik-sander" uk-icon="linkedin"></a>
                      </li>
                      <li><a href="https://github.com/ysndr" uk-icon="github"></a></li>
                    </ul>
                  </li>
                </ul>
              </div>
              <div>
                <ul class="uk-nav uk-navbar-dropdown-nav">
                  <li class="uk-nav-header">What?</li>
                  <li><a href="https://github.com/ysndr">Projects</a></li>
                  <li class="uk-nav-divider"></li>
                  <li><a href="https://github.com/ysndr/sam-knn-regressor">sam-knn-regressor</a></li>
                  <li><a href="https://github.com/ysndr/nixos-config">NixOS Config</a></li>
                </ul>
              </div>
              <div>
                <ul class="uk-nav uk-navbar-dropdown-nav">
                  <li class="uk-nav-header">Posts</li>
                  <li><a href="/archive.html">Archive</a></li>
                  <li class="uk-flex">
                    <span uk-icon="rss" class="uk-text-muted"></span>
                    <ul class="uk-iconnav uk-subnav-divider">
                      <li><a href="/rss.xml">RSS</a></li>
                      <li><a href="/atom.xml">Atom</a></li>
                    </ul>
                  </li>
                  <li class="uk-nav-divider"></li>
                  <li><a href="https://github.com/ysndr/blog/commit/$git-head-commit-hash$"><span uk-icon="git-branch"/>current rev.: $git-head-commit$</a></li>
                </ul>
              </div>
            </div>


          </div>
      </ul>
    </div>
    $if(toc)$
    <div class="uk-navbar-right">
      <ul class="uk-navbar-nav">
        <li>
        <a><div class="uk-button uk-text-muted uk-button-default"
          type="button"><span class="uk-hidden@m">Content</span> <span class="uk-visible@m">Table of Contents</span></div></a>
        <div class="uk-navbar-dropdown y-toc uk-width-medium" uk-drop="pos: bottom-right; offset: 0" >
           <div class="uk-list" uk-scrollspy-nav="closest: li; scroll: true; offset: 85">$toc$</div>
        </div>

      </li>


      </ul>
    </div>
    $endif$

  </nav>

</header>
