<header class="bg-muted font-standout leading-snug">

    <div class="flex flex-col sm:flex-row my-8 container justify-items-center justify-end">
      <div class="flex flex-col text-right text-emphasis">
          <h1 class="inline-flex flex-col">$title$
          <small>$if(subtitle)$$subtitle$$endif$</small>
          </h1>
          <span class="text-xs text-muted">
          $for(authors)$
              $author$
              $sep$⦿
              $endfor$
          </span>
      </div>
      <hr class="hidden sm:block sm:h-24 sm:w-px mx-4 my-4 sm:my-auto min-w-px">
      <div
        class="text-sm text-muted sm:w-5/12 md:w-2/5">
        <ul>
          <li class="flex">
            <i class="las la-calendar-day mr-4"></i> $date$
          </li>
          <li class="flex">
            <i class="las la-stopwatch mr-4"></i> $read-time$ Minutes
          </li>
          $if(tags)$
          <li class="flex break-words">
            <i class="las la-tags mr-4"></i>
            $for(tags)$
            <span>
              <a class="text-emphasis" href="$url$">$name$</a>$sep$,
              $endfor$
              </span>
          </li>
          $endif$
          <li class="flex">
            <i class="las la-code-branch mr-4"></i>
            <a
              class="uk-link-muted"
              href="https://github.com/ysndr/blog/commit/$git-commit-hash$">$git-commit$</a>
          </li>

        </ul>
      </div>
    </div>
    <hr class="container" />

</header>
