<header class="px-4 bg-muted container  font-standout leading-snug">

    <div class="grid-cols-1 my-8">
      <div class="flex flex-col text-right text-emphasis ">
          <h1>$title$</h1>
          <p>$if(subtitle)$$subtitle$$endif$</p>
      </div>
      <div class="uk-visible@s uk-width-auto">
        <hr class="uk-divider-vertical uk-margin-left uk-margin-right">
      </div>
      <div
        class="text-sm text-muted">
        <ul>
          <li class="flex">
            <i class="las la-calendar-day mr-4"></i> $date$
          </li>
          <li class="flex">
            <i class="las la-stopwatch mr-4"></i> $read-time$ Minutes
          </li>
          $if(tags)$
          <li class="flex break-words">
            <i class="las la-tags mr-4"></i>
            $for(tags)$
            <span>
              <a class="text-emphasis" href="$url$">$name$</a>$sep$,
              $endfor$
              </span>
          </li>
          $endif$
          <li class="flex">
            <i class="las la-code-branch mr-4"></i>
            <a
              class="uk-link-muted"
              href="https://github.com/ysndr/blog/commit/$git-commit-hash$">$git-commit$</a>
          </li>

        </ul>
      </div>
    </div>
  <hr class="uk-width-1-1" />

</header>
