name: "Build Site and Deploy"

on:
  push:
    branches: "release"
  pull_request:

env:
  GITHUB_PR_NUMBER: "${{github.event.number}}"
  PREVIEW_PATH: "./release/preview"


jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    # - name: Install Nix
    #   uses: cachix/install-nix-action@v12
    #   with:
    #     install_url: https://github.com/numtide/nix-flakes-installer/releases/download/nix-2.4pre20201221_9fab14a/install
    #     extra_nix_config: |
    #       experimental-features = nix-command flakes
    # - name: Compile Document
    #   run: nix run ./#compile
    # - name: Disable Jekyll rendering
    #   run: touch build/site/.nojekyll
    - name: Compile Document
      run: |
        pwd
        mkdir -p build/site
        touch build/site/index.html
    - name: Upload artifact
      uses: actions/upload-artifact@v2
      with:
        name: blog-build
        path: ./build/site


  deploy:
    needs: build
    runs-on: ubuntu-latest
    steps:
    - name: Download Release
      uses: actions/checkout@v2
      with:
        repository: ysndr/blog
        ref: gh-pages
        path: release

    - name: Download Current Build
      uses: actions/download-artifact@v2
      with:
        name: blog-build
        path: current

    - name: Apply as Preview
      if: github.event_name == 'pull_request'
      run: |
        export PR_PATH="$PREVIEW_PATH/$GITHUB_PR_NUMBER"

        mkdir -p $PREVIEW_PATH
        [ -d $PR_PATH ] && rm -r $PR_PATH

        mv ./current $PR_PATH

    - name: Apply as Release
      if: github.event_name != 'pull_request'
      run: |

        mv $PREVIEW_PATH ./current/preview
        rm -r ./release
        mv ./current ./release

    - name: Upload (including preview)
      uses: actions/upload-artifact@v2
      with:
        name: blog-build
        path: |
          release
          !./release/.git



    - name: Deploy to GitHub
      uses: crazy-max/ghaction-github-pages@v2
      with:
        target_branch: gh-pages2
        build_dir: ./release
        committer_name: github-ci
        committer-email: notifications+ci-blog@ysndr.de
      env:
        GITHUB_TOKEN: ${{ secrets.DEPLOY_TOKEN }}


  always-run:
    runs-on: ubuntu-latest
    steps:
    - name: Be friendly
      run: |
            echo "This is just here to prevent failure if the commit is not supposed to be build."
            echo "Don't mind, have a joke :)"
            echo "$(curl -Ss https://icanhazdadjoke.com/)"
